<div class="container-fluid1">
  <div class="panel-heading">
    <h2>My Profile</h2>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel widget light-widget panel-bd-top">
        <div class="panel-body">
          <div class="text-center vd_info-parent">
            <img src="/assets/images/paultp.jpg" alt="user image">
          </div>
          <div class="row">
            <div class="col-xs-12">
              <a class="btn vd_btn vd_bg-green btn-xs btn-block no-br">
                <i class="fa fa-check-circle append-icon"></i>Friends</a>
            </div>
            <div class="col-xs-12">
              <a class="btn vd_btn vd_bg-grey btn-xs btn-block no-br" ui-sref="contact">
                <i class="fa fa-envelope append-icon"></i>Send Message</a>
            </div>
            <h2 class="font-semibold mgbt-xs-5">Phila Paul Tshaka</h2>
            <h4>Owner at Phila's Company, Inc.</h4>
            <div class="mgtp-20">
              <table class="table table-striped table-hover">
                <tbody>
                <tr>
                  <td style="width:60%;">Status</td>
                  <td><span class="label label-success">Active</span></td>
                </tr>
                <tr>
                  <td>User Rating</td>
                  <td><i class="fa fa-star vd_yellow fa-fw"></i>
                    <i class="fa fa-star vd_yellow fa-fw"></i>
                    <i class="fa fa-star vd_yellow fa-fw"></i>
                    <i class="fa fa-star vd_yellow fa-fw"></i>
                    <i class="fa fa-star vd_yellow fa-fw"></i>
                  </td>
                </tr>
                <tr>
                  <td>Member Since</td>
                  <td> Jan 07, 2014 </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel widget light-widget">
          <div class="panel-body-list">
            <h3 class="pd-20 mgbt-xs-0"><i class="fa fa-users mgr-10"></i>Friends</h3>
            <div class="content-grid column-xs-2 column-sm-3 height-xs-auto mgbt-xs-20">
              <div>
                <ul class="list-wrapper">
                  <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="assets/images/nel.jpg"></span> </a> </li>
                  <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="assets/images/man.png"></span> </a> </li>
                  <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="assets/images/images.png"></span> </a> </li>
                  <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="assets/images/ppp.jpg"></span> </a> </li>
                  <li> <a href="#"> <span class="menu-icon"><img alt="example image" src="assets/images/phila.png"></span> </a> </li>
                </ul>
              </div>
            </div>
            <div class="closing text-center" style=""> <a href="#">See All Friends<i class="fa fa-angle-double-right prepend-icon"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div id="profile-tab" class="tab-pane active">
        <div class="pd-20">
          <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Edit </a> </div>
          <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
          <div class="row">
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">First Name:</label>
                <div class="col-xs-7 controls">Phila</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Last Name:</label>
                <div class="col-xs-7 controls">Tshaka</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">User Name:</label>
                <div class="col-xs-7 controls">Paul Phila</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Email:</label>
                <div class="col-xs-7 controls">pp.tshaka@gmail.com</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">City:</label>
                <div class="col-xs-7 controls">Cape Town</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Country:</label>
                <div class="col-xs-7 controls">South Africa</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Birthday:</label>
                <div class="col-xs-7 controls">Dec 20, 1991</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Interests:</label>
                <div class="col-xs-7 controls">Football,Frontend, Backend, etc.</div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Website:</label>
                <div class="col-xs-7 controls"><a href="http://phila.com">www.phila.com</a></div>
                <!-- col-sm-10 -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Phone:</label>
                <div class="col-xs-7 controls">+27839906234</div>
                <!-- col-sm-10 -->
              </div>
            </div>
          <hr class="pd-10">
          <div class="row">
            <div class="col-sm-4 mgbt-xs-20">
              <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE</h3>
              <div class="content-list content-menu">
                <ul class="list-wrapper">
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_green">
                    <i class="fa  fa-circle-o"></i></span> <span class="menu-text">
                    <a href="http://www.venmond.com">Owner</a> at <a href="http://www.lan.innovative.com">Lan Innovative Ltd.</a> <span
                    class="menu-info"><span class="menu-date"> March 2013 ~ Present</span></span> </span> </li>
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_grey">
                    <i class=" fa  fa-circle-o"></i></span> <span class="menu-text">
                    <a href="http://www.venmond.com">CEO</a> at <a href="http://www.venmond.com">Lan Innovative Ltd</a>
                    <span class="menu-info"><span class="menu-date"> March 2013 ~ February 2014</span></span> </span>
                  </li>
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_grey">
                    <i class=" fa  fa-circle-o"></i></span> <span class="menu-text">
                    <a href="http://www.venmond.com">Software Developer</a> at <a href="http://www.interfront.co.za">Interfront SOC Ltd.</a>
                    <span
                    class="menu-info"><span class="menu-date"> February 2015 ~ Now</span></span> </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION</h3>
              <div class="content-list content-menu">
                <ul class="list-wrapper">
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span>
                    <span class="menu-text"> M.Tech Student in IT at <a href="http://www.venmond.com">CPUT</a>
                      <span class="menu-info"><span class="menu-date">June 2016 ~ Present</span></span>
                    </span>
                  </li>
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span>
                    <span class="menu-text"> B.Tech Student in IT at <a href="http://www.venmond.com">Walter Sisulu University</a>
                      <span class="menu-info"><span class="menu-date"> February 2010 ~ December 2013</span></span>
                    </span>
                  </li>
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span>
                    <span class="menu-text"> Student at <a href="http://www.venmond.com">JJ Njeza High School</a>
                      <span class="menu-info"><span class="menu-date"> January 2007 ~ November 2009 </span></span>
                    </span>
                  </li>
                  <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span>
                    <span class="menu-text"> Student at <a href="http://www.venmond.com">Jongitaba Junior High School</a>
                      <span class="menu-info"><span class="menu-date"> January 1997 ~ November 2006</span></span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          <!--</div>-->
          <!-- row -->
          <hr class="pd-10">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>
              <div class="">
                <div class="content-list">
                  <div data-rel="scroll" class="mCustomScrollbar _mCS_6" style="overflow: hidden;"><div class="mCustomScrollBox mCS-light" id="mCSB_6" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;"><div class="mCSB_container" style="position: relative; top: 0px;">
                    <ul class="list-wrapper">
                      <!--<li> <span class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></span> <span class="menu-text"> Someone has give you a surprise <span class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></span> </span>  </li>-->
                      <!--<li> <span class="menu-icon vd_blue"><i class=" fa fa-user"></i></span> <span class="menu-text"> Change your user profile details <span class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></span> </span> </li>-->
                      <!--<li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span></li>-->
                      <!--<li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span>  </li>-->
                      <!--<li>  <span class="menu-icon vd_green"><img alt="example image" src="assets/image/ppp.jpg"></span> <span-->
                        <!--class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span> </li>-->
                      <!--<li>  <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span> </span>  </li>-->
                      <!--<li>  <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span> </span> </li>-->
                      <!--<li>  <span class="menu-icon vd_green"><img alt="example image" src="assets/image/ppp.jpg"></span> <span-->
                        <!--class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span> </span>  </li>-->
                    </ul>
                  </div><div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px; height: 352px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 352px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                  <div class="closing text-center" style=""> <a href="#">See All Activities <i class="fa fa-angle-double-right"></i></a> </div>
                </div>
              </div>
            </div>
            <!-- col-sm-4 -->
            <div class="col-sm-4">
              <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-flask mgr-10 profile-icon"></i> SKILL</h3>
              <div class="skill-list">
                <div class="skill-name"> Java </div>
                <div class="progress  progress-sm">
                  <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">90%</span> </div>
                </div>
              </div>
              <div class="skill-list">
                <div class="skill-name"> AngularJs </div>
                <div class="progress  progress-sm">
                  <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar"
                       class="progress-bar progress-bar-danger "> <span class="sr-only">20%</span> </div>
                </div>
              </div>
              <div class="skill-list">
                <div class="skill-name">HTML5 </div>
                <div class="progress  progress-sm">
                  <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar"
                       class="progress-bar progress-bar-warning "> <span class="sr-only">50% Complete</span> </div>
                </div>
              </div>
              <div class="skill-list">
                <div class="skill-name"> Javascript </div>
                <div class="progress  progress-sm">
                  <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar"
                       class="progress-bar progress-bar-info "> <span class="sr-only">60% Complete</span> </div>
                </div>
              </div>
              <div class="skill-list">
                <div class="skill-name">CSS </div>
                <div class="progress  progress-sm">
                  <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">95% Complete</span> </div>
                </div>
              </div>
              <div class="skill-list">
                <div class="skill-name">JQuery </div>
                <div class="progress  progress-sm">
                  <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar"
                       class="progress-bar progress-bar-warning "> <span class="sr-only">45% Complete</span> </div>
                </div>
              </div>
              <div class="skill-list">
                <div class="skill-name"> Bootstrap </div>
                <div class="progress  progress-sm">
                  <div style="width:96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar"
                       class="progress-bar progress-bar-info "> <span class="sr-only">60% Complete</span> </div>
                </div>
              </div>
            </div>
            <!-- col-sm-7 -->
          </div>
          <!-- row -->
        </div>
        <!-- pd-20 -->
      </div>
      <!-- home-tab -->
        </div>
      </div>
    </div>
  </div>
</div>
